<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNG Group Test">
    <test verbose="2" preserve-order="true">
        <groups>
            <run>
              <include name = "authentication"></include>
            </run>
            <run>
              <include name = "payment"></include>
            </run>
            <run>
              <include name = "product"></include>
            </run>
        </groups>
    
        <classes>
            <class name="AuthenticationSuite"></class>
            <class name="PaymentSuite"></class>
            <class name="ProductSuite"></class>
        </classes>
    </test>
</suite>

